.NoteCreator {
	display: flex;
	flex-direction: column;
}

.NoteCreator input,
textarea {
	padding: 10px;
	background-color: royalblue;
}

input::placeholder {
	color: gainsboro;
}

textarea::placeholder {
	color: gainsboro;
}

.NoteCreator * {
	margin-bottom: 1rem;
}

.NoteCreator button {
	width: 5rem;
	margin: 0.2rem auto;
}

.NoteCreator button:hover {
	border: 1px solid white;
}

.ButtonColors button {
	width: 50px;
	height: 20px;
}
