.noteList {
	border: 1px solid white;
	display: flex;
	padding: 0.5rem;
	overflow-y: scroll;
	height: 20rem;
	width: 15rem;
	box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px;
}

.noteList button {
	padding: 0.3rem;
	margin: 0.5rem;
	background-color: royalblue;
	color: white;
	border-color: 5px solid crimson;
}

.noteList button p {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #27fdcffb;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.note {
	border: none;
	border: 2px solid transparent;
}

.note:hover {
	transition: 0.3s;
	border: 2px solid white;
}

@media screen and (orientation: landscape) {
	.noteList {
		flex-direction: row;
		width: 90%;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.noteList button {
		max-width: 10rem;
		max-height: 8rem;
		overflow-y: hidden;
	}
}

@media screen and (orientation: portrait) {
	.noteList {
		flex-direction: column;
		width: 90%;
	}

	.noteList p {
		overflow-x: hidden;
	}
}
